input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  width: 30%;
  padding: 13px 10px;
  border: 0;
  outline: none;
  border-radius: 5px;
  border: 1px solid #09101b;
  margin: 10px 10px;
}

button {
  background-color: rgb(91, 62, 250);
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px;
  width: 20%;
  cursor: pointer;
  font-family: "Trebuchet MS";
  color: white;
  border: none;
}

.form {
  margin: 10px 10px;
}
